/*I like dark theme ;)*/

/* Dealing with different screen sizes */
@media (max-width: 240px) {
  /* really tiny screens */
  
}

@media (min-width: 241px) and (max-width: 768px) {
  /* Majority of mobile devices*/
  body{
    background-color: #222;
    color: #f2f2f2;
    background-image: url("annie-spratt-gM8igOIP5MA-unsplash.jpg");
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: medium;
    border-bottom: 2px solid #2800d8;
  }
  div{
    background-color: hsla(0, 0%, 13%, 0.2);
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      overflow: hidden;
      border-top: 10px solid hsla(0, 0%, 13%, 0.2);
    }
    
    /* Style the links inside the navigation bar */
    .topnav span {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 15px 16px;
      text-decoration: none;
      font-size: small;
      border-bottom: 2px solid #2800d8;
    }
    
    /* Change the color of links on hover */
    .topnav span:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav span.active {
      background-color: #2800d8;
      color: white;
    }
  
    /*Style for the image*/
    .profile_img{
      width: 115px;
      border-radius: 100%;
    }
  
    /*Contacts div styling*/
    .contacts{
      width: 250px;
      font-size: smaller;
    }
    .text_div{
      margin-top: 4px;
      width: 100%;
    }
  
    .none{
      display: none;
    }
    .sticky{
      position: fixed;
      top: 0;
      width: 100%;
      border-top: 10px solid #333;
      box-shadow: 0 10px 10px #000;
      background-color: hsla(0, 0%, 13%, 1);
    }
    .sticky + .main {
      padding-top: 60px;
    }
  
  a{
    color: rgb(255,255,255);
  }
  
  .flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .text_div h2{
    width: 100%;
    align-content: center;
  }
  .text_div div{
    width: 100%;
    min-width: max-content;
    border-bottom: 2px solid #2800d8;
  }

}
@media (min-width: 768px) {
  /* big phones ,iPad and bigger */
  body{
    background-color: #222;
    color: #f2f2f2;
    background-image: url("annie-spratt-gM8igOIP5MA-unsplash.jpg");
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    width: 100%;
    margin: auto;
  }
  div{
    background-color: hsla(0, 0%, 13%, 0.2);
    /* border: 2px solid #2800d8; */
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      overflow: hidden;
      border-top: 10px solid hsla(0, 0%, 13%, 0.2);
    }
    
    /* Style the links inside the navigation bar */
    .topnav span {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 15px 16px;
      text-decoration: none;
      font-size: 17px;
      border-bottom: 2px solid #2800d8;
    }
    
    /* Change the color of links on hover */
    .topnav span:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav span.active {
      background-color: #2800d8;
      color: white;
    }
  
    /*Style for the image*/
    .profile_img{
      width: 198px;
      border-radius: 100%;
    }
  
    /*Contacts div styling*/
    .contacts{
      width: 440px;
    }
    .text_div{
      margin-top: 4px;
      width: 100%;
    }
  
    .none{
      display: none;
    }
    .sticky{
      position: fixed;
      top: 0;
      width: 100%;
      border-top: 10px solid #333;
      box-shadow: 0 10px 10px #000;
      background-color: hsla(0, 0%, 13%, 1);
    }
    .sticky + .main {
      padding-top: 60px;
    }
  
  a{
    color: rgb(255,255,255);
  }
  
  .flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .text_div h2{
    width: 100%;
    align-content: center;
  }
  .text_div div{
    width: 300px;
    min-width: max-content;
    overflow-x: scroll;
  }
}