<!DOCTYPE html>
<html>
<head>
    <title>Clint G.L. Simiyu</title>
        <link rel="stylesheet" href="../resources/css/portfolio.css">
</head>
<body>
    <div class="text_div" id="summary_div">
        <div id="technicalSkills" class="hover-expand">
    
            <h3>Technical skills</h3>
            <ol>
                <li>Frontend development <ul><li>HTML</li><li>CSS</li><li>Javascript</li></ul></li><br>
                <li>Backend development <ul><li>Node.js</li><li>Express.js</li><li>MongoDB</li><li>Handlebars</li></ul></li><br>
                <li>Git & Github</li><br>
            </ol>
        </div>
        <div id="softSkills" class="hover-expand">
            <h3>Soft skills</h3>
            <ol>
                <li>Teamwork</li><br>
                <li>Communication</li><br>
                <li>Problem solving</li><br>
                <li>Time management</li><br>
            </ol>
        </div>
        <div id="randomMeme" class="hover-expand">
            <h3>😂 Random Meme</h3>
            <img src="" id="memeImg" class ="stat" style="height: 400px;"/>
        </div>
    </div>
    <script src="../resources/js/portfolio.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>